*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to left, rgba(0,0,0,.3),rgba(0,0,0,.3)),url(pic-2.png);
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255,.15);
    backdrop-filter: blur(50px);
    z-index: -1;
}
span{
    color: orangered;
}
.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
    font-weight: 500;
    transition: .5s ease-in-out;
}
.name{
    font-weight: 2rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.navbar a:hover{
    color: orangered;
    padding-right: 10px;
}
#check{
    display: none;
}
.menu{
    position: absolute;
    right: 5%;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
@media (max-width:992px) {
    .header{
        padding: 1.3rem;
    }
}
@media (max-width:760px) {
    .menu{
        display: inline-flex;
    }
    #check:checked~ .menu #icon-menu{
        display: none;
    }
    .menu #close-menu{
        display: none;
    }
    #check:checked~ .menu #close-menu{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 0;left: 0;
         width: 100%;
        height: 0;
        background: rgb(255,255 , 255,.15);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .2s ease;
        text-align: center;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
    }
}