*{
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    padding: auto 0;
    margin: 1.0rem 1rem;
    text-decoration: none;
    z-index: 1000;
    
  
}
body{
    background-color: rgba(3, 14, 37, 0.9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}
.navbar{
    display: flex;
    background-color:linear-gradient(rgba(255,255,255,.9%),rgba(255,255,255,.9%));
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 2px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;right: 0;
    padding: 1.3rem 10%;
    z-index: 100;
    backdrop-filter: blur(5px);
}
.navlinks{
    display: flex;
    text-decoration: none;
    margin: auto 0;
    
}
nav a{
    color: aliceblue;
}
nav a:hover{
    color: aqua;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 900;
}
span{
    color: aqua;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 2px 2px 3px whitesmoke;
}
span:hover{
    text-shadow: 2px 2px 3px aquamarine;
}
section{
    padding-top: 120px;
    margin: auto 0;
}
.about{
    background-color: rgba(9, 59, 103, 0.09);
    backdrop-filter: blur(50px);
}
h1{
    text-align: center;
    color: rgb(6, 6, 90);
    text-shadow: 2px 2px 2px wheat ;
    text-transform: uppercase;
}
form{
    align-items: center;
    display: flex;
    
    flex-direction: column;
    background-color: rgb(159, 174, 229);
    border-radius: 8px;
    padding:0;
    box-shadow: 2px 3px 5px 2px rgba(79, 145, 220, 0.557);
}
.content{
    align-items: center;
    width: auto;
    padding: 1.2rem;
    place-items: center;
    place-content:center ;
}